{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>FileManager</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'files/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Список файлов</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Скачать</th>
                </tr>
            </thead>
            <tbody>
                {% for file in files %}
                <tr>
                    <td>{{ file.name }}</td>
                    <td>
                        <a href="{% url 'download_file' file.name %}" class="btn btn-primary">Скачать</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Загрузка нового файла</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_file">Файл:</label>
                <input type="file" class="form-control-file" name="file" id="id_file" required>
            </div>
            <button type="submit" class="btn btn-primary">Загрузить</button>
        </form>
    </div>
</body>
</html>